body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.delivery-fee-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery-fee-form-field-container {
  padding: 0.5rem;
  width: 50vw;
}

.delivery-fee-form-field {
  width: 50vw;
}
 
/* .delivery-fee-value {
  display: inline;
} */